.common {
    /* border: 2px solid white; */
    position: absolute;
}
.nav {
    position: relative;
    float: right;
    font-size: 95%;
}
.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 95%;
    font-style: italic;
    text-align: center;
    background-color: rgba(77, 73, 73, 0.71);
    color: black;
}
.header {
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: -1;
}
.content {
    top: 70px;
    left: 10%;
    right: 10%;
    bottom: 30px;
    background-color: rgba(100, 164, 157, 0.505);
}